<div class="jumbotron">
  <h1>Browse Hacks</h1>
</div>
<div class="row well" ng-repeat="hack in hacks">
  <div>
    <div class="col-xs-4">
      <h3>{{ hack.name }}</h3>
      <em>by <span ng-repeat="author in hack.authors">
        {{ author }} {{ $index < hack.authors.length - 1 ? ', ' : '' }}
      </span></em>
      <p>
        <a ng-href="{{ hack.appUrl }}" class="btn btn-primary" role="button">Open</a>
        <a ng-href="#/browse/{{ hack.identifier }}" class="btn btn-default" role="button">View Info</a>
      </p>
    </div>
    <div class="col-xs-8">
      <strong>Description:</strong>
      <p>{{ hack.description }}</p>
    </div>
  </div>

</div>
